body{
    background-image: url('https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29kaW5nJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Bungee ;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#btnContainer{
    text-align: center;
}
#resetBtn{
    background-color: rgb(195, 14, 107);
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(247, 127, 189);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: rgb(181, 51, 146);
}